<div class="card mx-auto text-center border-light mt-5" style="width:20rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShUIovY4-TGNi7ROXKwdLppgWWBh2N1aawRg&usqp=CAU"
       alt="angular image" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Angular Scully project</h5>
    <p class="card-text">A personal blog created with Angular framework and the scully SSG.</p>
    <a href="https://scully.io/" class="btn btn-outline-primary me-2" target="_blank">Go to Scully</a>
    <a href="https://angular.io/" class="btn btn-outline-dark" target="_blank">Go to Angular</a>
  </div>
</div>
